<div class="main-login">
    <div class="left-login">
        <img src="assets/img/branco.png" class="left-login-image">
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">Usuário</label>
                <input [(ngModel)]="usuario.nomeUsuario" id="usuario" type="text" name="usuario"  placeholder="Usuário">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input [(ngModel)]="usuario.senha" id="senha" type="password" name="senha" placeholder="Senha">
            </div>
            <button class="btn-login" (click)="doLogin()">Login</button>
        </div>
    </div>
</div>
