.footer {
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    font-size: 1rem;
    background-color: #121722;
    height: 7%;
}

.spanF {
    color: #ffff;
}

.header {
    justify-content: center;
    background-color: #121722;
    height: 8%;
}

.title-group {
    color: #ffff; 
    align-items: center;
    display: flex;
    padding: 1.2rem;
    font-size: 1.5rem;
}

.logo {
    width: 5vw;
}


.container {
    height: 85%;
}

i {
    padding-right: .6rem;
}